main {
	width: 300px;
	height: 100vh;
	display: grid;
	place-items: center;
	margin: 0 auto;
}

.conatiner {
	width: 100%;
	padding: 0.5rem;
      text-align: center;
}

.title{
      text-transform: capitalize;
      margin: 0 0 1rem;
      border-bottom: 1px slategray dashed;
      padding-bottom: 0.5rem;
}

.input_grp{
      display: flex;
      flex-direction: column;
}

.input_grp input{
      padding: 0.5rem;
      font-size: 1rem;
      outline: none;
      border-radius: 8px;
      border: 1px solid;
      margin-bottom: 0.5rem;
}

.input_grp button{
      padding: 0.5rem;
      width: 50%;
      margin: 0 auto;
      font-size: 1rem;
}

.all_lists {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.all_lists li {
	list-style: decimal;
}

.all_lists span{
      cursor: pointer;
}